// https://wiki.sipeed.com/hardware/en/tang/Tang-Nano-9K/Nano-9K.html#Pinmap
// https://wiki.sipeed.com/hardware/en/tang/Tang-Nano-9K/examples/led.html 
// https://github.com/YosysHQ/apicula/blob/master/examples/tangnano9k.cst
// Part Number: GW1NR-LV9QN88PC6/I5

IO_LOC "io_switchNumber[0]" 33; 
IO_LOC "io_switchNumber[1]" 30;
IO_LOC "io_switchNumber[2]" 29;
IO_LOC "io_switchNumber[3]" 28;
IO_LOC "io_switchNumber[4]" 26;
IO_LOC "io_switchNumber[5]" 25;
IO_LOC "io_switchNumber[6]" 39;
IO_LOC "io_switchNumber[7]" 36;

IO_LOC "io_switch" 41;

IO_LOC "io_led[0]" 76;
IO_LOC "io_led[1]" 38;
IO_LOC "io_led[2]" 37;
IO_LOC "io_led[3]" 27;
IO_LOC "io_led[4]" 51;
IO_LOC "io_led[5]" 42;
IO_LOC "io_led[6]" 40;
IO_LOC "io_led[7]" 34;

IO_LOC "io_digit[0]" 75;
IO_LOC "io_digit[1]" 72;
IO_LOC "io_digit[2]" 73;
IO_LOC "io_digit[3]" 74;

IO_LOC "io_segments[0]" 71; // A
IO_LOC "io_segments[1]" 31; // B
IO_LOC "io_segments[2]" 53; // C
IO_LOC "io_segments[3]" 56; // D
IO_LOC "io_segments[4]" 55; // E
IO_LOC "io_segments[5]" 70; // F
IO_LOC "io_segments[6]" 54; // G
IO_LOC "io_segments[7]" 57; // DP

IO_LOC "clock" 52;
IO_LOC "reset" 4;
